.badge__container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    padding: 4px;
}
.badge__content{
   text-align: center;
}
.badge__withoutLabel__container{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
