.table__container{
    width: 100%;
    min-width: 880px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    .table__header{
        height: 50px;
        background-color: #F3F4F6;
        
        
        th{
            padding: 10px 16px;
            text-align: start;
        }
        th:nth-child(1){
            width: 5.5%; 
        }
        th:nth-child(2){
            width: 19%;
        }
        th:nth-child(3){
            width: 33%;
        }
        th:nth-child(4){
            width: 12%;
        }
        th:nth-child(5){
            width: 13%;
        }
        th:nth-child(6){
            width: 10%;
        }
        th:nth-child(7){
            width: 4.5%;
        }
    }
        td{
            padding: 16px 16px;
        }
}
.arrow__container{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E6E8F0;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__name-container{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.table__name-icon{
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #10b98197;
    color:  #10B981;
    padding: 5px;
    margin-right: 5px;
}
.table__name-text-container{
    display: flex;
    flex-direction: column;
}
.tbody-row{
    border-bottom: 1px solid #E6E8F0;
    height: 80px;
}
.table__update-button{
    cursor: pointer;
    font-size: 22px;
    color: #6B7280;
}
.table__delete-button{
    cursor: pointer;
    font-size: 24px;
    color: #6B7280;
}

.table__page-navigate-container{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 26px;
    padding: 0px 10px;
}
.table__page-navigate-text{
    font-size: 14px;
}
.table__page-navigate-icon-container{
    display: flex;
    color: #6B7280;
    column-gap: 8px;
    font-size: 24px;
}
.table__page-navigate-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}