.button__container{
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    position: relative;
}
.button__children-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}
.button__outlined{
    background-color: transparent;
}
.button__filled{
    border: none;
}
.button__text-only{
    border: none;
    background-color: transparent;
}
.button__large{
    min-width: 97px;
    height: 48px;
    font-size: 16px;
    padding: 11px 24px;
}
.button__medium{
    min-width: 86px;
    height: 40px;
    font-size: 14px;
    padding: 8px 20px;
}
.button__small{
    min-width: 75px;
    height: 34px;
    font-size: 14px;
    padding: 6px 16px;
}

.button__category-list-container{
    width: 100%;
    background-color: bisque;
}