  .expenseChart__main-container {
    width: 1000px;
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 0 auto;
  }
  .expenseChart__detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    background-color: white;
    border-radius: 8px;
    padding: 36px 48px;
    box-shadow: #d1d5db 0px 1px 2px;
  }
  .expenseChart__title {
    font-size: 34px;
    font-weight: bold;
  }
  .expenseChart__subTitle {
    font-size: 16px;
    color: #6b7280;
  }
  .expenseChart__notice {
    color: #6b7280;
    font-size: 16px;
    font-weight: bold;
    margin-top: -22px;
  }
  .expenseChart__toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }
  .expenseChart__toggle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expenseChart__toggle-button{
    width: 100px;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: #10B981;
    color: white;
    cursor: pointer;
  }
  .toggle-left{
    &:hover{
      background-color: #0a6f4dc0;
    }
}
  .toggle-right{
    &:hover{
      background-color: #0a6f4dc0;
      
    }
  }
  .toggle-active{
    background-color: #0a6f4e;
    transition: background-color 0.3s linear;
  }
  .expenseChart__date-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  .expenseChart__date-selector{
    width: 65px;
    padding: 2px;
    color: white;
    font-weight: bold;
    text-align: center !important;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #5048e5;
    background-color: #5048e5;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  .montlyChart__box{
    width: 856px;
    height: 550px;
    color: #10B981;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px
  }